body {
	margin: 0;
	padding: 0;
	 font-size: 28px;
	background-color:#EBD6C5;
  	font-family: Arial, Helvetica, sans-serif;
}

.empty {
	display: block;
	height: 15%;
	width:  100%;	
}
.slider {
	width: 100%;
	height: 40%;
	margin: 2em auto;	
}

.restrict-img-size {
	max-height: 100%;
	max-width: 100%;
}

.slider-wrapper {
	width: 80%;
	height: 100%;
	position: relative;
}

.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide {
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#navbar {
  overflow: hidden;
  background-color: #8FBC8F;
}

#navbar a {
  float: left;
  display: flex;
  justify-content:center;
  align-items:center;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 90%;
}

#navbar a:hover {
  background-color: #FFE4E1;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #8FBC8F;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: flex;
  justify-content:center;
  align-items:center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  border:7px #8FBC8F solid;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

div.container4 {
    height: 15%;
	width: 100%;
    position: fixed;
	display:flex;
	justify-content: center;
	text-align: center;
}

div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  color: #f2f2f2;
}

.topnav a:hover {
  background: #f1f1f1;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.restrict-img-size {
	height:100%;
}
